.feature_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_feature {
  margin-left: 10px;
  margin-top: 10px;
}
.features_head_title {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}
.feature_main_div {
  margin-bottom: 20px;
}
.main_div {
  margin: 0px 30px;
}