.brands_image {
  width: 100%;
  padding: 0px 10px;
}

.brand_section_top {
  margin: 0px 10px;
  padding: 10px;
  border: 1px solid #ebebeb;
}
.brands_arrow {
  margin-top: -25px;
  width: 10px;
}
.main_div {
  margin: 0px 30px;
}
